div#dButton {
display: block;
color: #2B587A;
max-width: 156px;
cursor: pointer;
position: relative;
}
div#dButton div.label{
	max-width: 121px;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
padding: 6px 24px 7px 11px;
}

.play_btn_wrap
{
	padding: 0;
	width: 34px !important;
}
.play_btn_wrap .play_new
{
    display: inline-block;
}

div.info.fl_l
{
	width: 370px !important;
}

#audio.new .audio .title_wrap {
	width: 320px !important;
}
#pad_playlist_panel .audio .title_wrap
{
	width: 320px !important;	
}

td.results .audio .title_wrap {
	width: 350px !important;
}
.narrow_column .audio .title_wrap {
width: 114px !important;
}

.audio .area {
     margin-bottom: 0 !important;; 
}


div.vkmp3listdl
{
cursor: pointer;
width: 14px;
height: 14px;
/*background: url(/images/playpause.gif) no-repeat 0px 0px;*/
display: inline-block;
margin-left: 2px;
border: 1px solid;
border-radius: 2px;
border-color: #45688E;
}

.arrow-down {
	margin-top:5px; 
	margin-left:1px; 
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;	
	border-top: 6px solid #45688E;
}